<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('参数列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="config-form">
					<div class="select-list">
						<ul>
							<li>
								[[#{common.configName}]]：<input type="text" name="configName"/>
							</li>
							<li>
								[[#{common.configKey}]]：<input type="text" name="configKey"/>
							</li>
							<li>
								[[#{common.configSystem}]]：<select name="configType" th:with="type=${@dict.getType('sys_yes_no')}">
									<option value="">[[#{common.all}]]</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>[[#{common.creationTime}]]： </label>
								<input type="text" class="time-input" id="startTime" placeholder="start time" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="end time" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;[[#{common.search}]]</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;[[#{common.reset}]]</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:config:add">
		            <i class="fa fa-plus"></i> [[#{common.add}]]
		        </a>
		        <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:config:edit">
		            <i class="fa fa-edit"></i> [[#{common.edit}]]
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:config:remove">
		            <i class="fa fa-remove"></i> [[#{common.delete}]]
		        </a>
<!--		        <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:config:export">-->
<!--		            <i class="fa fa-download"></i> 导出-->
<!--		        </a>-->
	        </div>
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:config:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:config:remove')}]];
        var datas = [[${@dict.getType('sys_yes_no')}]];
        var prefix = ctx + "system/config";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                sortName: "createdTime",
		        sortOrder: "desc",
                modalName: [[#{common.param}]],
                columns: [{
                    checkbox: true
                },
                {
                    field: 'configId',
                    title: [[#{common.configId}]]
                },
                {
                    field: 'configName',
                    title: [[#{common.configName}]]
                },
                {
                    field: 'configKey',
                    title: [[#{common.configKey}]]
                },
                {
                    field: 'configValue',
                    title: [[#{common.configValue}]]
                },
                {
                    field: 'configType',
                    title: [[#{common.configSystem}]],
                    align: 'center',
                    formatter: function(value, row, index) {
                    	return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'remark',
                    title: [[#{common.remark}]],
                    align: 'center',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value);
                    }
                },
                {
                    field: 'createdTime',
                    title: [[#{common.creationTime}]]
                },
                {
                    title: [[#{common.operation}]],
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.configId + '\')"><i class="fa fa-edit"></i>'+[[#{common.edit}]]+'</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.configId + '\')"><i class="fa fa-remove"></i>'+[[#{common.delete}]]+'</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>