<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.management.mapper.gym.GymCardInfoMapper">
  <resultMap id="BaseResultMap" type="com.gym.management.domain.gym.GymCardInfo">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="membership_start" jdbcType="TIMESTAMP" property="membershipStart" />
    <result column="membership_end" jdbcType="TIMESTAMP" property="membershipEnd" />
    <result column="membership" jdbcType="TINYINT" property="membership" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <resultMap id="ViewResultMap" type="com.gym.management.domain.view.GymCardInfoView">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="membership_start" jdbcType="TIMESTAMP" property="membershipStart" />
    <result column="membership_end" jdbcType="TIMESTAMP" property="membershipEnd" />
    <result column="membership" jdbcType="TINYINT" property="membership" />
    <result column="remain_time" jdbcType="INTEGER" property="cardRemainTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="update_by" jdbcType="VARCHAR" property="createBy" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, card_id, customer_id, membership_start, membership_end, membership, card_remain_time,
    create_by, created_time, update_by, modified_time, yn, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from gym_card_info
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectBySelective" parameterType="com.gym.management.domain.param.GymCardInfoParam" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from gym_card_info
    where yn = 1
    <if test="cardId != null and cardId != ''"> and card_id = #{cardId,jdbcType=VARCHAR}</if>
  </select>

  <select id="selectBySelectiveForView" parameterType="GymCardInfoParam" resultMap="ViewResultMap">
    select ci.id, ci.membership_start, ci.membership_end, ci.membership,  ci.card_remain_time, ci.create_by, ci.created_time, u.name, u.phone_num
    from gym_card_info as ci
    left join gym_user as u on u.id = ci.customer_id
    left join gym_card_class as cc on ci.id = cc.card_id
    left join gym_class as c on cc.class_id = c.id
    where ci.yn = 1 and u.yn = 1
    <if test="cardId != null and cardId != ''"> and ci.card_id = #{cardId} </if>
    <if test="name != null and name != ''"> and u.name like concat('%', #{name}, '%') </if>
    <if test="nationalId != null and nationalId != ''"> and u.national_id like concat('%', #{nationalId}, '%') </if>
    <if test="phoneNum != null and phoneNum != ''"> and u.phone_num like concat('%', #{phoneNum}, '%') </if>
  </select>

  <select id="selectByCardId" parameterType="Object" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from gym_card_info
    where card_id = #{cardId} and yn = 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    update gym_card_info
    set yn = 0
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gym.management.domain.gym.GymCardInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into gym_card_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        card_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="membershipStart != null">
        membership_start,
      </if>
      <if test="membershipEnd != null">
        membership_end,
      </if>
      <if test="membership != null">
        membership,
      </if>
      <if test="cardRemainTime != null">
        card_remain_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="yn != null">
        yn,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="membershipStart != null">
        #{membershipStart,jdbcType=TIMESTAMP},
      </if>
      <if test="membershipEnd != null">
        #{membershipEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="membership != null">
        #{membership,jdbcType=TINYINT},
      </if>
      <if test="cardRemainTime != null">
        #{cardRemainTime,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.gym.management.domain.gym.GymCardInfo">
    <!--@mbg.generated-->
    update gym_card_info
    <set>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="membershipStart != null">
        membership_start = #{membershipStart,jdbcType=TIMESTAMP},
      </if>
      <if test="membershipEnd != null">
        membership_end = #{membershipEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="membership != null">
        membership = #{membership,jdbcType=TINYINT},
      </if>
      <if test="cardRemainTime != null">
        card_remain_time = #{cardRemainTime,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>