<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.management.mapper.gym.GymCoachMapper">
  <resultMap id="BaseResultMap" type="com.gym.management.domain.gym.GymCoach">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="coach_name" jdbcType="VARCHAR" property="coachName" />
    <result column="coach_photo" jdbcType="VARCHAR" property="coachPhoto" />
    <result column="coach_age" jdbcType="INTEGER" property="coachAge" />
    <result column="coach_description" jdbcType="VARCHAR" property="coachDescription" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, coach_name, coach_photo, coach_age, coach_description, create_by, created_time, 
    update_by, modified_time, yn, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from gym_coach
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from gym_coach
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gym.management.domain.gym.GymCoach" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into gym_coach (coach_name, coach_photo, coach_age, 
      coach_description, create_by, created_time, 
      update_by, modified_time, yn, 
      remark)
    values (#{coachName,jdbcType=VARCHAR}, #{coachPhoto,jdbcType=VARCHAR}, #{coachAge,jdbcType=INTEGER}, 
      #{coachDescription,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gym.management.domain.gym.GymCoach" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into gym_coach
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coachName != null">
        coach_name,
      </if>
      <if test="coachPhoto != null">
        coach_photo,
      </if>
      <if test="coachAge != null">
        coach_age,
      </if>
      <if test="coachDescription != null">
        coach_description,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="yn != null">
        yn,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coachName != null">
        #{coachName,jdbcType=VARCHAR},
      </if>
      <if test="coachPhoto != null">
        #{coachPhoto,jdbcType=VARCHAR},
      </if>
      <if test="coachAge != null">
        #{coachAge,jdbcType=INTEGER},
      </if>
      <if test="coachDescription != null">
        #{coachDescription,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gym.management.domain.gym.GymCoach">
    <!--@mbg.generated-->
    update gym_coach
    <set>
      <if test="coachName != null">
        coach_name = #{coachName,jdbcType=VARCHAR},
      </if>
      <if test="coachPhoto != null">
        coach_photo = #{coachPhoto,jdbcType=VARCHAR},
      </if>
      <if test="coachAge != null">
        coach_age = #{coachAge,jdbcType=INTEGER},
      </if>
      <if test="coachDescription != null">
        coach_description = #{coachDescription,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gym.management.domain.gym.GymCoach">
    <!--@mbg.generated-->
    update gym_coach
    set coach_name = #{coachName,jdbcType=VARCHAR},
      coach_photo = #{coachPhoto,jdbcType=VARCHAR},
      coach_age = #{coachAge,jdbcType=INTEGER},
      coach_description = #{coachDescription,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      yn = #{yn,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>