<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('登录日志列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="logininfor-form">
					<div class="select-list">
						<ul>
							<li>
								<label>[[#{common.ipaddr}]]：</label><input type="text" name="ipaddr"/>
							</li>
							<li>
								<label>[[#{common.loginName}]]：</label><input type="text" name="loginName"/>
							</li>
							<li>
								<label>[[#{common.loginStatus}]]：</label><select name="status" th:with="type=${@dict.getType('sys_common_status')}">
									<option value="">[[#{common.all}]]</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>[[#{common.loginTime}]]： </label>
								<input type="text" class="time-input" id="startTime" placeholder="start time" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="end time" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;[[#{common.search}]]</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;[[#{common.reset}]]</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:logininfor:remove">
		            <i class="fa fa-remove"></i> [[#{common.delete}]]
		        </a>
		        <a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:logininfor:remove">
	                <i class="fa fa-trash"></i> [[#{common.clean}]]
	            </a>
<!--	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:logininfor:export">-->
<!--		            <i class="fa fa-download"></i> 导出-->
<!--		        </a>-->
	        </div>
        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
	    var datas = [[${@dict.getType('sys_common_status')}]];
		var prefix = ctx + "monitor/logininfor";
	
		$(function() {
		    var options = {
		        url: prefix + "/list",
		        cleanUrl: prefix + "/clean",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "loginTime",
		        sortOrder: "desc",
		        modalName: "Login log",
		        escape: true,
		        showPageGo: true,
		        rememberSelected: true,
		        columns: [{
		        	field: 'state',
		            checkbox: true
		        },
		        {
		            field: 'infoId',
		            title: [[#{common.infoId}]]
		        },
		        {
		            field: 'loginName',
		            title: [[#{common.loginName}]],
		            sortable: true
		        },
		        {
		            field: 'ipaddr',
		            title: [[#{common.ipaddr}]]
		        },
		        {
		            field: 'loginLocation',
		            title: [[#{common.loginLocation}]]
		        },
		        {
		            field: 'browser',
		            title: [[#{common.loginBrowser}]]
		        },
		        {
		            field: 'os',
		            title: [[#{common.os}]]
		        },
		        {
		            field: 'status',
		            title: [[#{common.loginStatus}]],
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
		        {
		            field: 'msg',
		            title: [[#{common.operationInfo}]]
		        },
		        {
		            field: 'loginTime',
		            title: [[#{common.loginTime}]],
		            sortable: true
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>